@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.marqueeContainer{
    background: #060606;
    color: transparent;
    height: 75vh;
}

.marqueeContainer > marquee {
    padding-top: 65px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 150px;
    -webkit-text-stroke: 2px white;
}